@{
    ViewBag.Title = "Acerca del Proyecto";
}
<h2 class="text-center"><u>@ViewBag.Title</u></h2>

<div class="row">
    <div class="col-md-7 col-sm-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam cupiditate voluptatibus accusantium vel, error totam aliquid porro aspernatur, officiis facere ducimus cum esse in atque blanditiis aliquam, dolore? Saepe nihil pariatur voluptatum quae quis dolor natus, numquam optio nulla expedita deleniti ex eligendi atque quibusdam iste, cumque! Atque aperiam nesciunt accusamus ad culpa eum velit laboriosam officiis vero molestiae voluptas et iusto possimus pariatur dolore quisquam mollitia quidem natus tempora facilis sed odit, laudantium excepturi? Labore quod, explicabo sequi! Aut sunt placeat dolore ipsa veritatis iusto numquam nostrum dolor aliquid ipsum. Saepe provident, sit voluptate mollitia nam optio ipsum rerum dicta beatae atque. Ad iure vitae impedit, natus omnis neque tempora architecto ratione tempore nemo facilis illum cumque magnam est!</div>
    <div class="col-md-5 col-sm-12" style="background-image: url(../../Images/dining-area.jpg);background-size: cover;background-position: right;"></div>
</div>