@{
    ViewBag.Title = "Acerca del Proyecto";
}
<h2 class="text-center"><u>@ViewBag.Title</u></h2>

<div class="row">
    <div class="col-md-7 col-sm-12">Somos una empresa de venta de comida donde implementamos un restaurante que podrá encontrar los mejores platos de nuestro querido Perú, donde podrás degustar en familia y pasarlo muy bien. También tenemos las deliciosas bebidas. Contamos con unos personales que tienen los mejores tratos para ustedes y así quedar satisfecho del todo. Somos una empresa confiable y seguro que fue aprobado por la municipalidad. Porque estamos interesados en su bienestar y salud. A demás contamos con un sistema de calidad que cuenta con todo lo necesario para que usted pueda realizar sus pedidos sin ningún problema que podrá descargar desde su celular. También si tiene alguna queja o podrá presentarlo a través de nuestros correos que podrá encontrar en la parte de Contactos. </div>
    <div class="col-md-5 col-sm-12" style="background-image: url(../../Images/dining-area.jpg);background-size: cover;background-position: right;"></div>
</div>