@{
    ViewBag.Title = "Contacto";
}
<h2 class="text-center"><u>@ViewBag.Title</u></h2>

<div class="d-flex flex-wrap">
    <div class="card m-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Julio César Cruz Mieses</h5>
            <address>
                <p class="card-text"><a href="mailto:I201823576@cibertec.edu.pe">I201823576@cibertec.edu.pe</a></p>
            </address>
        </div>
    </div>

    <div class="card m-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Maritza Patricia Lavi Tuanama</h5>
            <address>
                <p class="card-text"><a href="mailto:I201712220@cibertec.edu.pe">I201712220@cibertec.edu.pe</a></p>
            </address>
        </div>
    </div>

    <div class="card m-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Leonardo Estefano Bazán Levano</h5>
            <address>
                <p class="card-text"><a href="mailto:I201712220@cibertec.edu.pe">I201712220@cibertec.edu.pe</a></p>
            </address>
        </div>
    </div>

    <div class="card m-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Jair Gregorio Cayahua Elescano</h5>
            <address>
                <p class="card-text"><a href="mailto:I201815084@cibertec.edu.pe">I201815084@cibertec.edu.pe</a></p>
            </address>
        </div>
    </div>

    <div class="card m-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Erik Cristian Nolazco Sifuentes</h5>
            <address>
                <p class="card-text"><a href="mailto:I201722789@cibertec.edu.pe">I201722789@cibertec.edu.pe</a></p>
            </address>
        </div>
    </div>

</div>