@{
    ViewBag.Title = "Contacto";
}
<h2 class="text-center"><u>@ViewBag.Title</u></h2>
<h3>Integrantes.</h3>

@*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>*@

<address>
    <strong>Julio César Cruz Mieses:</strong><a href="mailto:I201823576@cibertec.edu.pe">I201823576@cibertec.edu.pe</a><br />
    <strong>Maritza Patricia Lavi Tuanama:</strong><a href="mailto:I201712220@cibertec.edu.pe">I201712220@cibertec.edu.pe</a><br />
    <strong>Leonardo Estefano Bazán Levano:</strong><a href="mailto:I201713634@cibertec.edu.pe">I201713634@cibertec.edu.pe</a><br />
    <strong>Jair Gregorio Cayahua Elescano:</strong><a href="mailto:I201815084@cibertec.edu.pe">I201815084@cibertec.edu.pe</a><br />
    <strong>Erik Cristian Nolazco Sifuentes:</strong><a href="mailto:I201722789@cibertec.edu.pe">I201722789@cibertec.edu.pe</a><br />
</address>